/* Sleek, bold, and Vim-inspired dark theme for Greaper (Textual) */

Screen {
    background: #1a1b26;
    color: #c0caf5;
}

Header, Footer {
    background: #282c34;
    color: #a9b1d6;
    text-style: bold;
    border: tall #7aa2f7;
}

Input, Select, Checkbox {
    background: #24283b;
    color: #c0caf5;
    border: round #7aa2f7;
    text-style: bold;
}

Button {
    background: #7aa2f7;
    color: #1a1b26;
    border: round #bb9af7;
    text-style: bold;
}

Button.-primary {
    background: #bb9af7;
    color: #1a1b26;
    border: round #7aa2f7;
    text-style: bold;
}

Static#results_label {
    color: #e0af68;
    text-style: bold;
    padding: 1 0 0 1;
}

DataTable {
    background: #1a1b26;
    color: #c0caf5;
    border: round #7aa2f7;
    text-style: bold;
    highlight: #9ece6a;
    accent: #f7768e;
}

DataTable:focus {
    border: double #bb9af7;
}

::-selection {
    background: #33467c;
    color: #f7768e;
}
